
<%= simple_form_for [current_user, current_user.schedules.build] do |f| %>
	<input type='text' >
	<%= f.submit "ok"%>
<% end -%>

<table style='width: 599px'>
	<tr>
		<td>星期一</td>　
		<td>星期二</td>
		<td>星期三</td>
		<td>星期四</td>
		<td>星期五</td>
		<td>星期六</td>
		<td>星期日</td>
	</tr>
</table>



