// Place all the styles related to the functionalities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.f_foo{
	padding-top: 10px;
	width: 300px;
	height: 30px;
}

.f_progress_chooser{
	margin-top: -37px;
	margin-left: 330px;
	position: absolute;
}